#socialBtnsContainer {
    display: flex;
    margin-top: 10px;
    /* background-color: green; */
}

.socialBtn {
    color: black;
    margin: 0 8px;
    font-size: 20px;
}

.socialBtn:hover {
    color: red;
}