.Music {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#musicContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#musicContainer > img {
    width: 520px;
    height: 480px;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1100px) {
    #musicContainer {flex-direction: column;}

    #musicContainer > img {
        width: 60vw;
        height: 60vw;
        margin: 25px 0;
    }
}

@media only screen and (max-width: 700px) {
    #musicContainer > img {
        width: 80vw;
        height: 80vw;
    }
}