.Contact {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contactContainer > h2:nth-child(1) {margin-bottom: 40px;}

#contactContainer > h2 {letter-spacing: 2.5px;}

#contactContainer > h2 > a {
    color: var(--black);
    text-decoration: none;
}

#doodleContainer {
    display: flex;
    justify-content: flex-end;
    margin: 30px 75px 40px 0;
}