#Videos {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

#VideosContainer {
    display: flex;
    align-items: center;
    margin: auto;
    /* background-color: blue; */
}

#VideoResponsive {
    width: 50vw;
    height: 60vh;
    /* background-color: blue; */
  }
  
#VideoResponsive iframe {
    height: 100%;
    width: 100%;
  }
  