#customNavbar {width: 100vw;}

.customNavbarCollapse {
    display: flex;
    justify-content: center;
}

#customNav {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#customNav > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customLink {
    margin: 0 30px;
    font-size: 28px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.customLink:hover {transform: translateY(-4px);}

#NavBrand > img {
    width: 390px;
    height: 260px;
}

#NavBrand2 > img {display: none;}

@media only screen and (max-width: 1450px) {
    #customNav > div {flex-wrap: wrap;}
}

@media only screen and (max-width: 991px) {
    #NavBrand > img {display: none;}

    #customNavbar {display: block;}

    #NavBrand2 > img {
        width: 360px;
        height: 260px;
        margin: auto;
        display: block;
    }
}