#customNavbar {
    width: 100vw;
    /* background-color: blue; */
}

.customNavbarCollapse {
    display: flex;
    justify-content: center;
    /* background-color: purple; */
}

#customNav {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}

#customNav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: green; */
}

.customLink {
    margin: 0 40px;
    font-size: 28px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.customLink:hover {color: red;}

#NavBrand > img {
    width: 310px;
    height: 260px;
}

#NavBrand2 > img {display: none;}

@media only screen and (max-width: 991px) {
    #NavBrand > img {display: none;}

    #customNavbar {display: block;}

    #NavBrand2 > img {
        width: 290px;
        height: 255px;
        margin: auto;
        display: block;
    }
}